Package: se.nosskirneh.lace
Name: Lace
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: NCObey / Leash for iOS 10
Depiction: https://andreashenriksson.se/repo/depictions/?p=se.nosskirneh.lace
Maintainer: Andreas Henriksson
Author: Andreas Henriksson
Section: Tweaks
