Package: se.nosskirneh.lace
Name: Lace
Depends: firmware (>= 10.0), mobilesubstrate, preferenceloader
Version: 1.0.4
Architecture: iphoneos-arm
Description: NCObey / Leash for iOS 10
Maintainer: Andreas Henriksson
Author: Andreas Henriksson
Section: Tweaks
