<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <!-- Header -->
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>headerCellClass</key>
            <string>LaceHeaderCell</string>
        </dict>

        <!-- Groups -->
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>detail</key>
            <string>LaceNCRootListController</string>
            <key>isController</key>
            <true/>
            <key>label</key>
            <string>Notification Center</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>detail</key>
            <string>LaceCCRootListController</string>
            <key>isController</key>
            <true/>
            <key>label</key>
            <string>Control Center</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>detail</key>
            <string>LaceLSRootListController</string>
            <key>isController</key>
            <true/>
            <key>label</key>
            <string>Lockscreen</string>
        </dict>


        <!-- About -->
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>About</string>
        </dict>
        <dict>
            <key>action</key>
            <string>donate</string>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>cellClass</key>
            <string>LaceColorButtonCell</string>
            <key>icon</key>
            <string>donate.png</string>
            <key>label</key>
            <string>Support my work</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerAlignment</key>
            <integer>1</integer>
            <key>footerText</key>
            <string>Made by Andreas Henriksson</string>
        </dict>
    </array>
    <key>title</key>
    <string></string>
</dict>
</plist>
